.background{
    background-image: url("/assets/images/Pattern.svg");
}
.background1{
    background-color:#F8F7FF;
    height: 600px;
}
.padding{
    display: block !important;
    padding-top: 40px;
    margin-right: 25rem;
}

.padding1{
    display: block !important;
    padding-bottom: 32px;
    margin-right: 4rem;
}

.card{
    padding: 32px 348px 32px 356px;
    display: -webkit-inline-box;
    background-color:#F8F7FF;
}
